Pismeni/Distribuirani Sistemi - Pismeni/WcfAprilClientBezKolbaka/Connected Services/SRRegistracijaVozila/RegistracijaVozila1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57910/RegistracijaVozila.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceAprilBeKalbaka" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceAprilBeKalbaka" minOccurs="0" name="vo" nillable="true" type="q1:Vozilo" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceAprilBeKalbaka" minOccurs="0" name="vl" nillable="true" type="q2:Vlasnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVlasniciModela">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVlasniciModelaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceAprilBeKalbaka" minOccurs="0" name="GetVlasniciModelaResult" nillable="true" type="q3:ArrayOfVlasnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVozilaForVlasnik">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceAprilBeKalbaka" minOccurs="0" name="v" nillable="true" type="q4:Vlasnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVozilaForVlasnikResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceAprilBeKalbaka" minOccurs="0" name="GetVozilaForVlasnikResult" nillable="true" type="q5:ArrayOfVozilo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSvaVozila">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSvaVozilaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceAprilBeKalbaka" minOccurs="0" name="GetSvaVozilaResult" nillable="true" type="q6:ArrayOfVozilo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>