Pismeni/Distribuirani Sistemi - Pismeni/WCFClientApril2021/Connected Services/ServiceReferenceRegistracijaVozila/RegVozila2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfApril2021" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfApril2021" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Vehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Boja" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marka" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vehicle" nillable="true" type="tns:Vehicle" />
  <xs:complexType name="Owner">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JMBG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prezime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Owner" nillable="true" type="tns:Owner" />
  <xs:complexType name="RegisteredOwner">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Owner">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisteredOwner" nillable="true" type="tns:RegisteredOwner" />
  <xs:complexType name="ArrayOfVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vehicle" nillable="true" type="tns:Vehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicle" nillable="true" type="tns:ArrayOfVehicle" />
  <xs:complexType name="ArrayOfOwner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Owner" nillable="true" type="tns:Owner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOwner" nillable="true" type="tns:ArrayOfOwner" />
</xs:schema>