Pismeni/Distribuirani Sistemi - Pismeni/WCFClientApril2021/Connected Services/ServiceReferenceRegistracijaVozila/RegVozila.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51796/RegVozila.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfApril2021" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfApril2021" minOccurs="0" name="v" nillable="true" type="q1:Vehicle" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfApril2021" minOccurs="0" name="o" nillable="true" type="q2:Owner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnerVehicles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfApril2021" minOccurs="0" name="o" nillable="true" type="q3:Owner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwners">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVehicles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnerVehiclesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfApril2021" minOccurs="0" name="vehicles" nillable="true" type="q4:ArrayOfVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfApril2021" minOccurs="0" name="owners" nillable="true" type="q5:ArrayOfOwner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVehiclesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfApril2021" minOccurs="0" name="vehicles" nillable="true" type="q6:ArrayOfVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>