11. Primer - WCF_1/WcfService/WindowsFormsCisterna/Connected Services/ServiceReference1/Cisterna1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceCisterna" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceCisterna" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Materijal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gustina" type="xs:decimal" />
      <xs:element minOccurs="0" name="Masa" type="xs:decimal" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zapremina" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Materijal" nillable="true" type="tns:Materijal" />
</xs:schema>