11. Primer - WCF_1/WcfService/WindowsFormsCisterna/Connected Services/ServiceReference1/Cisterna.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54800/Cisterna.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceCisterna" />
  <xs:import schemaLocation="http://localhost:54800/Cisterna.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DodajMaterijal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceCisterna" minOccurs="0" name="m" nillable="true" type="q1:Materijal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajMaterijalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Isipaj">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Zapremina" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsipajResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PreuzmiMaterijal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PreuzmiMaterijalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceCisterna" minOccurs="0" name="PreuzmiMaterijalResult" nillable="true" type="q2:Materijal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreuzmiIzmene">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PreuzmiIzmeneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PreuzmiIzmeneResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>