Pismeni/Distribuirani Sistemi - Pismeni/Wcf_Januar_2019_Client/Connected Services/SR/Autobusi1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57392/Autobusi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcf_Januar_2019" />
  <xs:element name="Registracija">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wcf_Januar_2019" minOccurs="0" name="novaLinija" nillable="true" type="q1:Linija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistracijaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiLinijeKojeProlaze">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stanica" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiLinijeKojeProlazeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wcf_Januar_2019" minOccurs="0" name="VratiLinijeKojeProlazeResult" nillable="true" type="q2:ArrayOfLinija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiLinijeSaPodrutom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stanica" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="odrediste" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiLinijeSaPodrutomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wcf_Januar_2019" minOccurs="0" name="VratiLinijeSaPodrutomResult" nillable="true" type="q3:ArrayOfLinija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiStanice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sifraLinije" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nazivStanice" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiStaniceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wcf_Januar_2019" minOccurs="0" name="VratiStaniceResult" nillable="true" type="q4:ArrayOfStanica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>