Pismeni/Distribuirani Sistemi - Pismeni/Wcf_Januar_2019_Client/Connected Services/SR/Autobusi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcf_Januar_2019" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcf_Januar_2019" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Linija">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lokacije" nillable="true" type="tns:ArrayOfStanica" />
      <xs:element minOccurs="0" name="Sifra" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Linija" nillable="true" type="tns:Linija" />
  <xs:complexType name="ArrayOfStanica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stanica" nillable="true" type="tns:Stanica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStanica" nillable="true" type="tns:ArrayOfStanica" />
  <xs:complexType name="Stanica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VremePolaska" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stanica" nillable="true" type="tns:Stanica" />
  <xs:complexType name="ArrayOfLinija">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Linija" nillable="true" type="tns:Linija" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLinija" nillable="true" type="tns:ArrayOfLinija" />
</xs:schema>