Pismeni/Distribuirani Sistemi - Pismeni/ConsoleAppLoto2020/Connected Services/SRLoto/Loto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceJun2020" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceJun2020" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62009/Loto.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Kombinacija">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Vrednosti" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kombinacija" nillable="true" type="tns:Kombinacija" />
  <xs:complexType name="Rezultat">
    <xs:sequence>
      <xs:element minOccurs="0" name="Petice" type="xs:int" />
      <xs:element minOccurs="0" name="Sedmice" type="xs:int" />
      <xs:element minOccurs="0" name="Sestice" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rezultat" nillable="true" type="tns:Rezultat" />
  <xs:complexType name="Cestitka">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pobednicka" nillable="true" type="tns:Kombinacija" />
      <xs:element minOccurs="0" name="Sadrzaj" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cestitka" nillable="true" type="tns:Cestitka" />
</xs:schema>