11. Primer - WCF_1/WcfService/FormCalculator/Connected Services/ServiceReference1/Calculator2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Calculator" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Calculator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Rezultat">
    <xs:sequence>
      <xs:element minOccurs="0" name="History" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rezultat" nillable="true" type="tns:Rezultat" />
</xs:schema>